<header class="container-fluid bg-primary m-0 text-center h1 text-light py-3">
    Ciencia de Datos From Datacamp en Español
</header>

<nav class="navbar bg-primary">
    <a class="navbar-brand text-light" href="#">
        I love data
    </a>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-light" href="#">Cursos</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Contacto</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="#">Acerca de</a></li>
    </ul>
</nav>

